$font-stack: Helvetica, sans-serif, Arial, Times;
$primary-color: #f048ee;
$active-color: #6faa27;
$hover-color: beige;
$hover-text-color: #d96a6a;
$padding-16: 16px;
$box-border-radius: 5px;

$btn-sizes: (
  "sm": 28px,
  "md": 30px,
  "lg": 35px
);
